main, body{
    background-color: #5ca1d7;
    padding: 0% 30% 0% 30%;
    text-align: center;
    
ol {text-align: left;}
}

body, h1:hover{color:black}
.text_white{color: #ffffff}

img {
    width: 40%;
    text-align: center;}
    
footer{color:black}

